nodeRed/flows.json
[{"id":"28db1ee.fa9eae2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8fb33757.55d228","type":"mqtt in","z":"28db1ee.fa9eae2","name":"smart_garden_subscriber","topic":"smart_garden_status","qos":"0","datatype":"auto","broker":"b8deeead.b03ce","x":300,"y":140,"wires":[["10556196.f15b4e"]]},{"id":"10556196.f15b4e","type":"function","z":"28db1ee.fa9eae2","name":"create_query","func":"msg.topic = \"INSERT INTO Smart_Garden_Status (ID, Name, Timestamp, Status) VALUES (null, 'smart_garden_status', CURRENT_TIME(), '\" + msg.payload + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["6d72e0c1.6d0e"]]},{"id":"6d72e0c1.6d0e","type":"mysql","z":"28db1ee.fa9eae2","mydb":"7b6f146.b6f78ec","name":"insert_query","x":740,"y":300,"wires":[[]]},{"id":"b8deeead.b03ce","type":"mqtt-broker","z":"","name":"smart_garden_status","broker":"192.168.1.0","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7b6f146.b6f78ec","type":"MySQLdatabase","z":"","host":"192.168.1.9","port":"3306","db":"SmartGarden","tz":""}]