nodeRed/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"266d9e3f.000c32","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fcca8f3.2b5f58","type":"mqtt-broker","z":"","name":"smart_garden_status","broker":"ec2-3-18-109-222.us-east-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"deb4e50e.4d4928","type":"MySQLdatabase","z":"","name":"","host":"ec2-3-14-245-56.us-east-2.compute.amazonaws.com","port":"3306","db":"SmartGarden","tz":""},{"id":"2bccb516.3d840a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1af0009.bca64","type":"ui_tab","z":"","name":"My edge-gateway","icon":"device_hub","order":3,"disabled":false,"hidden":false},{"id":"9960be86.6d6c6","type":"ui_group","z":"","name":"Buttons","tab":"f1af0009.bca64","order":1,"disp":true,"width":"6","collapse":false},{"id":"38a962a1.95276e","type":"ui_group","z":"","name":"Gauges","tab":"f1af0009.bca64","order":2,"disp":true,"width":12,"collapse":false},{"id":"15ed9d69.3235a3","type":"ui_tab","z":"","name":"IoT Devices","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"580ab8eb.449848","type":"mqtt-broker","z":"","name":"Mosquitto Broker","broker":"192.168.1.12","port":"31699","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8aaa4d8f.0ff38","type":"ui_group","z":"","name":"Gauges","tab":"15ed9d69.3235a3","order":1,"disp":true,"width":18,"collapse":false},{"id":"6b014f73.d8a57","type":"telegram bot","z":"","botname":"T.A.N.I.A.","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"22148a11.d3c966","type":"ui_spacer","name":"spacer","group":"8aaa4d8f.0ff38","order":2,"width":12,"height":1},{"id":"b6a78dee.62aec","type":"ui_spacer","name":"spacer","group":"8aaa4d8f.0ff38","order":14,"width":6,"height":1},{"id":"ad56d9d7.f2f708","type":"ui_link","z":"","name":"Camera","link":"","icon":"camera","target":"thistab","order":4},{"id":"a01f475c.35a328","type":"ui_link","z":"","name":"Grafana","link":"","icon":"dashboard","target":"newtab","order":5},{"id":"c78ecb30.007398","type":"ui_group","name":"Group 2","tab":"15ed9d69.3235a3","order":2,"disp":true,"width":6},{"id":"64a3ff09.ccf34","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4927cb55.92a794","type":"ui_group","z":"","name":"Home","tab":"64a3ff09.ccf34","order":1,"disp":true,"width":"6","collapse":false},{"id":"9df74af9.1a7a48","type":"mqtt in","z":"266d9e3f.000c32","name":"smart_garden_subscriber","topic":"smart_garden_status","qos":"0","datatype":"auto","broker":"580ab8eb.449848","x":230,"y":300,"wires":[["125009ca.3a9e26"]]},{"id":"125009ca.3a9e26","type":"function","z":"266d9e3f.000c32","name":"create_query","func":"msg.topic = \"INSERT INTO Smart_Garden_Status (ID, Name, Timestamp, Status) VALUES (null, 'smart_garden', CURRENT_TIME(), '\" + msg.payload + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["5669b3b4.4704ec"]]},{"id":"5669b3b4.4704ec","type":"mysql","z":"266d9e3f.000c32","d":true,"mydb":"deb4e50e.4d4928","name":"insert_query","x":740,"y":300,"wires":[[]]},{"id":"13fc32b0.77597d","type":"inject","z":"266d9e3f.000c32","name":"10_min_trigger","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"smart_garden_status","payload":"OFF","payloadType":"str","x":220,"y":360,"wires":[["5d30c81.878b938"]]},{"id":"5d30c81.878b938","type":"function","z":"266d9e3f.000c32","name":"reset_status","func":"msg.topic = \"INSERT INTO Smart_Garden_Status (ID, Name, Timestamp, Status) VALUES (null, 'smart_garden', CURRENT_TIME(), '\" + msg.payload + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["5669b3b4.4704ec"]]},{"id":"b885df5d.9d4ee","type":"comment","z":"266d9e3f.000c32","name":"led-status","info":"This allows to read from \n`smart_garden_status` topic (which is updated by MQTT device, e.g. ESP8266) and store informations about device status (on, off). ","x":180,"y":260,"wires":[]},{"id":"683265ab.619f7c","type":"comment","z":"266d9e3f.000c32","name":"Cluster dashboard - buttons","info":"","x":220,"y":500,"wires":[]},{"id":"557af10c.44cc8","type":"ui_switch","z":"266d9e3f.000c32","name":"","label":"Camera","tooltip":"","group":"9960be86.6d6c6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":180,"y":620,"wires":[["cb65f963.a436a8"]]},{"id":"8b1bdb6d.1b8718","type":"ui_switch","z":"266d9e3f.000c32","name":"","label":"Motion_sensor","tooltip":"","group":"9960be86.6d6c6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":580,"wires":[[]]},{"id":"1994d190.d1951e","type":"ui_button","z":"266d9e3f.000c32","name":"","group":"9960be86.6d6c6","order":4,"width":0,"height":0,"passthru":false,"label":"Minidlna_restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":540,"wires":[[]]},{"id":"c93634b7.a9b7e8","type":"ui_switch","z":"266d9e3f.000c32","name":"","label":"Light","tooltip":"","group":"9960be86.6d6c6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":540,"wires":[[]]},{"id":"b3e43ec6.d982f","type":"ui_button","z":"266d9e3f.000c32","name":"","group":"9960be86.6d6c6","order":6,"width":0,"height":0,"passthru":false,"label":"Anti-theft-mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":580,"wires":[[]]},{"id":"cb65f963.a436a8","type":"http request","z":"266d9e3f.000c32","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"myedgerouter.test:5002/docker","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":620,"wires":[["18af4cc1.44bed3"]]},{"id":"18af4cc1.44bed3","type":"debug","z":"266d9e3f.000c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":620,"wires":[]},{"id":"b713bc70.88af6","type":"http request","z":"266d9e3f.000c32","d":true,"name":"Raspberry2_temperature","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.10:5002/temperature","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":780,"wires":[["c437de43.57b69"]]},{"id":"c437de43.57b69","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"38a962a1.95276e","order":2,"width":6,"height":4,"gtype":"gage","title":"Raspberry 2 Temperature","label":"C°","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":780,"wires":[]},{"id":"abd52f4.27556d","type":"inject","z":"266d9e3f.000c32","name":"","repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["b713bc70.88af6"]]},{"id":"c83ec20d.a0153","type":"inject","z":"266d9e3f.000c32","name":"","repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":740,"wires":[["ddf3aa3f.02c3b8"]]},{"id":"ddf3aa3f.02c3b8","type":"http request","z":"266d9e3f.000c32","d":true,"name":"Raspberry1_temperature","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.9:5002/temperature","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":740,"wires":[["ab455d7d.6539d"]]},{"id":"ab455d7d.6539d","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"38a962a1.95276e","order":1,"width":6,"height":4,"gtype":"gage","title":"Raspberry 1 Temperature","label":"C°","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":740,"wires":[]},{"id":"e6b88f20.35cd9","type":"comment","z":"266d9e3f.000c32","name":"Cluster dashboard","info":"","x":190,"y":700,"wires":[]},{"id":"ff45bf65.71523","type":"http request","z":"266d9e3f.000c32","d":true,"name":"Raspberry1_memory","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.9:5002/memory","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":860,"wires":[["5f65a28d.d1d66c"]]},{"id":"5f65a28d.d1d66c","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"38a962a1.95276e","order":3,"width":6,"height":4,"gtype":"donut","title":"Raspberry 1 Memory","label":"GB","format":"{{value}}","min":0,"max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":860,"wires":[]},{"id":"73f7d7a8.3b3cb8","type":"inject","z":"266d9e3f.000c32","name":"","repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":860,"wires":[["ff45bf65.71523"]]},{"id":"2388421f.10ba7e","type":"http request","z":"266d9e3f.000c32","d":true,"name":"Raspberry2_memory","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.10:5002/memory","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":900,"wires":[["f680ad4e.07a0d"]]},{"id":"f680ad4e.07a0d","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"38a962a1.95276e","order":4,"width":6,"height":4,"gtype":"donut","title":"Raspberry 2 Memory","label":"GB","format":"{{value}}","min":0,"max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":900,"wires":[]},{"id":"60cb5b6c.26f1a4","type":"inject","z":"266d9e3f.000c32","name":"","repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":900,"wires":[["2388421f.10ba7e"]]},{"id":"fefa9ed1.634cf","type":"http request","z":"266d9e3f.000c32","d":true,"name":"Raspberry1_hard_disk","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.9:5002/harddisk","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":980,"wires":[["2b86836c.428d5c"]]},{"id":"2b86836c.428d5c","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"38a962a1.95276e","order":5,"width":12,"height":5,"gtype":"donut","title":"Raspberry 1 Hard Disk","label":"GB","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":980,"wires":[]},{"id":"a06c0eea.8087b","type":"inject","z":"266d9e3f.000c32","name":"","repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":980,"wires":[["fefa9ed1.634cf"]]},{"id":"c46aee9f.3be29","type":"http request","z":"266d9e3f.000c32","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"192.168.1.10:5002/ainews","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":660,"wires":[["d7d80167.e5ce4"]]},{"id":"d7d80167.e5ce4","type":"debug","z":"266d9e3f.000c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":660,"wires":[]},{"id":"7926d6d5.af3aa8","type":"ui_button","z":"266d9e3f.000c32","name":"","group":"9960be86.6d6c6","order":5,"width":0,"height":0,"passthru":false,"label":"AI News","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":180,"y":660,"wires":[["c46aee9f.3be29"]]},{"id":"291e4d10.987d62","type":"comment","z":"266d9e3f.000c32","name":"IoT Device - Smart Garden","info":"","x":190,"y":1300,"wires":[]},{"id":"76e8344e.2a26cc","type":"mqtt in","z":"266d9e3f.000c32","name":"","topic":"moisture/1","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":140,"y":1380,"wires":[["2c1d0347.0deaec","e556e261.629a5"]]},{"id":"f9e8734c.42636","type":"mqtt in","z":"266d9e3f.000c32","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"580ab8eb.449848","x":150,"y":2120,"wires":[["e83d8be6.4992f8","834cf92a.829e78"]]},{"id":"2c1d0347.0deaec","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"8aaa4d8f.0ff38","order":3,"width":6,"height":4,"gtype":"wave","title":"Umidità terreno 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1380,"wires":[]},{"id":"e556e261.629a5","type":"function","z":"266d9e3f.000c32","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1440,"wires":[["fe738c6e.71a01"]]},{"id":"fe738c6e.71a01","type":"telegram sender","z":"266d9e3f.000c32","name":"Send alarm","bot":"6b014f73.d8a57","outputs":1,"x":530,"y":1440,"wires":[[]]},{"id":"e83d8be6.4992f8","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"4927cb55.92a794","order":1,"width":6,"height":4,"gtype":"gage","title":"Temperatura","label":"° C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":2120,"wires":[]},{"id":"834cf92a.829e78","type":"function","z":"266d9e3f.000c32","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Temperatura ' + payload + \"° C\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":2180,"wires":[["26d5909c.22da"]]},{"id":"26d5909c.22da","type":"telegram sender","z":"266d9e3f.000c32","name":"Send alarm","bot":"6b014f73.d8a57","outputs":1,"x":530,"y":2180,"wires":[[]]},{"id":"a2acb60e.c86e38","type":"mqtt in","z":"266d9e3f.000c32","name":"","topic":"moisture/2","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":140,"y":1520,"wires":[["d9f848bb.286028","ea9c2123.a727f"]]},{"id":"d9f848bb.286028","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"8aaa4d8f.0ff38","order":5,"width":6,"height":4,"gtype":"wave","title":"Umidità terreno 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1520,"wires":[]},{"id":"ea9c2123.a727f","type":"function","z":"266d9e3f.000c32","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1580,"wires":[["30a7fe08.567422"]]},{"id":"30a7fe08.567422","type":"telegram sender","z":"266d9e3f.000c32","name":"Send alarm","bot":"6b014f73.d8a57","outputs":1,"x":530,"y":1580,"wires":[[]]},{"id":"92c12c92.627c1","type":"mqtt in","z":"266d9e3f.000c32","name":"","topic":"moisture/3","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":140,"y":1660,"wires":[["c20116c1.0d2968","f8d0fb50.2901a8"]]},{"id":"c20116c1.0d2968","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"8aaa4d8f.0ff38","order":6,"width":6,"height":4,"gtype":"wave","title":"Umidità terreno 3","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1660,"wires":[]},{"id":"f8d0fb50.2901a8","type":"function","z":"266d9e3f.000c32","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1720,"wires":[["20f92235.30acbe"]]},{"id":"20f92235.30acbe","type":"telegram sender","z":"266d9e3f.000c32","name":"Send alarm","bot":"6b014f73.d8a57","outputs":1,"x":530,"y":1720,"wires":[[]]},{"id":"844674b9.5b3d08","type":"mqtt in","z":"266d9e3f.000c32","name":"","topic":"moisture/4","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":140,"y":1800,"wires":[["4c9865d1.0229dc","ff2a1c6f.e9a8d"]]},{"id":"4c9865d1.0229dc","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"8aaa4d8f.0ff38","order":10,"width":6,"height":4,"gtype":"wave","title":"Umidità terreno 4","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1800,"wires":[]},{"id":"ff2a1c6f.e9a8d","type":"function","z":"266d9e3f.000c32","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1860,"wires":[["5afebdd3.3e3c54"]]},{"id":"5afebdd3.3e3c54","type":"telegram sender","z":"266d9e3f.000c32","name":"Send alarm","bot":"6b014f73.d8a57","outputs":1,"x":530,"y":1860,"wires":[[]]},{"id":"969a0067.074c4","type":"mqtt in","z":"266d9e3f.000c32","name":"","topic":"moisture/5","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":140,"y":1940,"wires":[["347c9df0.fc1002","a9625017.5fd7a"]]},{"id":"347c9df0.fc1002","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"8aaa4d8f.0ff38","order":11,"width":6,"height":4,"gtype":"wave","title":"Umidità terreno 5","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1940,"wires":[]},{"id":"a9625017.5fd7a","type":"function","z":"266d9e3f.000c32","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":2000,"wires":[["2f7f4365.9400fc"]]},{"id":"2f7f4365.9400fc","type":"telegram sender","z":"266d9e3f.000c32","name":"Send alarm","bot":"6b014f73.d8a57","outputs":1,"x":530,"y":2000,"wires":[[]]},{"id":"303ab96d.1f9776","type":"ui_button","z":"266d9e3f.000c32","name":"pompa 1","group":"8aaa4d8f.0ff38","order":7,"width":6,"height":1,"passthru":false,"label":"annaffia","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"pump_activation","x":140,"y":2300,"wires":[["773a7ab3.0bb614"]]},{"id":"bb0222a.dffeee","type":"ui_button","z":"266d9e3f.000c32","name":"pompa 2","group":"8aaa4d8f.0ff38","order":8,"width":6,"height":1,"passthru":false,"label":"annaffia","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"pump_activation","x":140,"y":2360,"wires":[["773a7ab3.0bb614"]]},{"id":"53c79cd1.466d04","type":"ui_button","z":"266d9e3f.000c32","name":"pompa 3","group":"8aaa4d8f.0ff38","order":9,"width":6,"height":1,"passthru":false,"label":"annaffia","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"pump_activation","x":140,"y":2420,"wires":[["773a7ab3.0bb614"]]},{"id":"d9f91903.431e88","type":"ui_button","z":"266d9e3f.000c32","name":"pompa 4","group":"8aaa4d8f.0ff38","order":12,"width":6,"height":1,"passthru":false,"label":"annaffia","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"pump_activation","x":140,"y":2480,"wires":[["773a7ab3.0bb614"]]},{"id":"f7820cfb.8215f","type":"ui_button","z":"266d9e3f.000c32","name":"pompa 5","group":"8aaa4d8f.0ff38","order":13,"width":6,"height":1,"passthru":false,"label":"annaffia","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"pump_activation","x":140,"y":2540,"wires":[["773a7ab3.0bb614"]]},{"id":"773a7ab3.0bb614","type":"mqtt out","z":"266d9e3f.000c32","name":"","topic":"pump_activation","qos":"","retain":"","broker":"580ab8eb.449848","x":540,"y":2400,"wires":[]},{"id":"c6d9e317.8f584","type":"ui_slider","z":"266d9e3f.000c32","name":"","label":"Tempo annaffiamento","tooltip":"","group":"8aaa4d8f.0ff38","order":1,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"5","max":"30","step":1,"x":180,"y":1340,"wires":[[]]},{"id":"9ad7ea41.847658","type":"mqtt in","z":"266d9e3f.000c32","name":"Temperatura","topic":"dht22/temp","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":150,"y":2760,"wires":[["c249a8a.02bf858"]]},{"id":"c249a8a.02bf858","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"8aaa4d8f.0ff38","order":4,"width":6,"height":4,"gtype":"wave","title":"Temperatura","label":"°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":2760,"wires":[]},{"id":"9f131a96.109218","type":"mqtt in","z":"266d9e3f.000c32","name":"Umidità","topic":"dht22/hum","qos":"1","datatype":"auto","broker":"580ab8eb.449848","x":130,"y":2800,"wires":[["b3112206.2e168"]]},{"id":"b3112206.2e168","type":"ui_gauge","z":"266d9e3f.000c32","name":"","group":"4927cb55.92a794","order":2,"width":6,"height":4,"gtype":"wave","title":"Umidità","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":2800,"wires":[]}]