nodeRed/flows.json
[{"id":"4432dc02.778764","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b47051ab.27b46","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56dee94d.af1738","type":"mqtt-broker","z":"","name":"smart_garden_status","broker":"192.168.1.0","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1c21487.37f828","type":"MySQLdatabase","z":"","host":"192.168.1.1","port":"3306","db":"SmartGarden","tz":""},{"id":"2eec79b4.b31336","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf46d08.a79ae3","type":"ui_tab","z":"","name":"My edge-gateway","icon":"device_hub","order":2,"disabled":false,"hidden":false},{"id":"7a969eb1.a29f7","type":"ui_group","z":"","name":"Buttons","tab":"cf46d08.a79ae3","order":1,"disp":true,"width":"6","collapse":false},{"id":"aee7e1b1.5b6a7","type":"ui_group","z":"","name":"Gauges","tab":"cf46d08.a79ae3","order":2,"disp":true,"width":"6","collapse":false},{"id":"337bdfce.e219d","type":"ui_tab","z":"","name":"IoT Devices","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7a0587cf.b9e958","type":"mqtt-broker","z":"","name":"Mosquitto Broker","broker":"ec2-3-18-109-222.us-east-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a11519d1.35b5c8","type":"ui_group","z":"","name":"Gauges","tab":"337bdfce.e219d","order":1,"disp":true,"width":6,"collapse":false},{"id":"63846d71.c5b924","type":"telegram bot","z":"","botname":"T.A.N.I.A.","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"949f85.0a804078","type":"mqtt in","z":"b47051ab.27b46","name":"smart_garden_subscriber","topic":"smart_garden_status","qos":"0","datatype":"auto","broker":"7a0587cf.b9e958","x":230,"y":300,"wires":[["d482db6f.4fad48"]]},{"id":"d482db6f.4fad48","type":"function","z":"b47051ab.27b46","name":"create_query","func":"msg.topic = \"INSERT INTO Smart_Garden_Status (ID, Name, Timestamp, Status) VALUES (null, 'smart_garden', CURRENT_TIME(), '\" + msg.payload + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["9899d299.875ec"]]},{"id":"9899d299.875ec","type":"mysql","z":"b47051ab.27b46","mydb":"a1c21487.37f828","name":"insert_query","x":740,"y":300,"wires":[[]]},{"id":"152746b3.63ab89","type":"inject","z":"b47051ab.27b46","name":"10_min_trigger","topic":"smart_garden_status","payload":"OFF","payloadType":"str","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":360,"wires":[["27301355.f6532c"]]},{"id":"27301355.f6532c","type":"function","z":"b47051ab.27b46","name":"reset_status","func":"msg.topic = \"INSERT INTO Smart_Garden_Status (ID, Name, Timestamp, Status) VALUES (null, 'smart_garden', CURRENT_TIME(), '\" + msg.payload + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["9899d299.875ec"]]},{"id":"b1f19f08.1bb62","type":"comment","z":"b47051ab.27b46","name":"led-status","info":"This allows to read from \n`smart_garden_status` topic (which is updated by MQTT device, e.g. ESP8266) and store informations about device status (on, off). ","x":180,"y":260,"wires":[]},{"id":"32f212c.da9d3ee","type":"comment","z":"b47051ab.27b46","name":"buttons","info":"","x":170,"y":560,"wires":[]},{"id":"9f1f265b.e46308","type":"ui_switch","z":"b47051ab.27b46","name":"","label":"Camera","tooltip":"","group":"7a969eb1.a29f7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":180,"y":620,"wires":[["1492277f.fac8a9"]]},{"id":"3f2e1946.fd71f6","type":"ui_switch","z":"b47051ab.27b46","name":"","label":"Motion_sensor","tooltip":"","group":"7a969eb1.a29f7","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":1100,"wires":[[]]},{"id":"61823f84.051ed","type":"ui_button","z":"b47051ab.27b46","name":"","group":"7a969eb1.a29f7","order":4,"width":0,"height":0,"passthru":false,"label":"Minidlna_restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":1100,"wires":[[]]},{"id":"44de2c35.9f6d44","type":"ui_switch","z":"b47051ab.27b46","name":"","label":"Light","tooltip":"","group":"7a969eb1.a29f7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1160,"wires":[[]]},{"id":"efcbf395.40194","type":"ui_button","z":"b47051ab.27b46","name":"","group":"7a969eb1.a29f7","order":6,"width":0,"height":0,"passthru":false,"label":"Anti-theft-mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":1220,"wires":[[]]},{"id":"1492277f.fac8a9","type":"http request","z":"b47051ab.27b46","name":"","method":"POST","ret":"txt","paytoqs":true,"url":"192.168.1.10:5002/docker","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":620,"wires":[["ae6762aa.cf307"]]},{"id":"ae6762aa.cf307","type":"debug","z":"b47051ab.27b46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":620,"wires":[]},{"id":"46a959f0.77aa48","type":"http request","z":"b47051ab.27b46","name":"Raspberry2_temperature","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.10:5002/temperature","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":780,"wires":[["2452c065.0686"]]},{"id":"2452c065.0686","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"aee7e1b1.5b6a7","order":2,"width":0,"height":0,"gtype":"gage","title":"Raspberry 2 Temperature","label":"C°","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":780,"wires":[]},{"id":"29fc0a96.e548c6","type":"inject","z":"b47051ab.27b46","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":780,"wires":[["46a959f0.77aa48"]]},{"id":"519f48b9.1169d8","type":"inject","z":"b47051ab.27b46","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":740,"wires":[["ffae330f.9aebd"]]},{"id":"ffae330f.9aebd","type":"http request","z":"b47051ab.27b46","name":"Raspberry1_temperature","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.9:5002/temperature","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":740,"wires":[["fb88744.039f188"]]},{"id":"fb88744.039f188","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"aee7e1b1.5b6a7","order":1,"width":0,"height":0,"gtype":"gage","title":"Raspberry 1 Temperature","label":"C°","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":740,"wires":[]},{"id":"4dc26b7c.5b8c04","type":"comment","z":"b47051ab.27b46","name":"dashboard","info":"","x":160,"y":700,"wires":[]},{"id":"dd08893f.077fc8","type":"http request","z":"b47051ab.27b46","name":"Raspberry1_memory","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.9:5002/memory","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":860,"wires":[["68245df2.75cb64"]]},{"id":"68245df2.75cb64","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"aee7e1b1.5b6a7","order":3,"width":0,"height":0,"gtype":"donut","title":"Raspberry 1 Memory","label":"GB","format":"{{value}}","min":0,"max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":860,"wires":[]},{"id":"c20726ee.954a28","type":"inject","z":"b47051ab.27b46","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":860,"wires":[["dd08893f.077fc8"]]},{"id":"add6da10.3e1188","type":"http request","z":"b47051ab.27b46","name":"Raspberry2_memory","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.10:5002/memory","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":900,"wires":[["55810475.4c1d9c"]]},{"id":"55810475.4c1d9c","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"aee7e1b1.5b6a7","order":4,"width":0,"height":0,"gtype":"donut","title":"Raspberry 2 Memory","label":"GB","format":"{{value}}","min":0,"max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":900,"wires":[]},{"id":"917fe8d2.bf1538","type":"inject","z":"b47051ab.27b46","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":900,"wires":[["add6da10.3e1188"]]},{"id":"6a8dc95d.7c0178","type":"http request","z":"b47051ab.27b46","name":"Raspberry1_hard_disk","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.9:5002/harddisk","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":980,"wires":[["6498333f.70466c"]]},{"id":"6498333f.70466c","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"aee7e1b1.5b6a7","order":5,"width":0,"height":0,"gtype":"donut","title":"Raspberry 1 Hard Disk","label":"GB","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":980,"wires":[]},{"id":"c1210f9e.a8c4c","type":"inject","z":"b47051ab.27b46","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":980,"wires":[["6a8dc95d.7c0178"]]},{"id":"2c034114.485b6e","type":"http request","z":"b47051ab.27b46","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"192.168.1.10:5002/ainews","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":660,"wires":[["cfe34845.b2fd58"]]},{"id":"cfe34845.b2fd58","type":"debug","z":"b47051ab.27b46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":660,"wires":[]},{"id":"dbf6bdd.b06724","type":"ui_button","z":"b47051ab.27b46","name":"","group":"7a969eb1.a29f7","order":5,"width":0,"height":0,"passthru":false,"label":"AI News","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":180,"y":660,"wires":[["2c034114.485b6e"]]},{"id":"2661a1c9.55654e","type":"comment","z":"b47051ab.27b46","name":"IoT Device - Smart Garden","info":"","x":190,"y":1320,"wires":[]},{"id":"92cca772.922458","type":"mqtt in","z":"b47051ab.27b46","name":"","topic":"moisture/1","qos":"1","datatype":"auto","broker":"7a0587cf.b9e958","x":140,"y":1380,"wires":[["3973f1f5.6a399e","70362e31.e5de6"]]},{"id":"51eee1cb.358b2","type":"mqtt in","z":"b47051ab.27b46","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"7a0587cf.b9e958","x":150,"y":2120,"wires":[["229ffcce.1df824","21c1a26f.8e108e"]]},{"id":"3973f1f5.6a399e","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"a11519d1.35b5c8","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidità terreno 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1380,"wires":[]},{"id":"70362e31.e5de6","type":"function","z":"b47051ab.27b46","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1440,"wires":[["3409bcfb.648544"]]},{"id":"3409bcfb.648544","type":"telegram sender","z":"b47051ab.27b46","name":"Send alarm","bot":"63846d71.c5b924","x":530,"y":1440,"wires":[[]]},{"id":"229ffcce.1df824","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"a11519d1.35b5c8","order":11,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"° C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":2120,"wires":[]},{"id":"21c1a26f.8e108e","type":"function","z":"b47051ab.27b46","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Temperatura ' + payload + \"° C\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":2180,"wires":[["b6a80f6c.35f8c"]]},{"id":"b6a80f6c.35f8c","type":"telegram sender","z":"b47051ab.27b46","name":"Send alarm","bot":"63846d71.c5b924","x":530,"y":2180,"wires":[[]]},{"id":"2169f878.939e78","type":"mqtt in","z":"b47051ab.27b46","name":"","topic":"moisture/2","qos":"1","datatype":"auto","broker":"7a0587cf.b9e958","x":140,"y":1520,"wires":[["3421753e.4f3a9a","c3d83bad.5da058"]]},{"id":"3421753e.4f3a9a","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"a11519d1.35b5c8","order":3,"width":0,"height":0,"gtype":"wave","title":"Umidità terreno 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1520,"wires":[]},{"id":"c3d83bad.5da058","type":"function","z":"b47051ab.27b46","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1580,"wires":[["5be1b758.d52248"]]},{"id":"5be1b758.d52248","type":"telegram sender","z":"b47051ab.27b46","name":"Send alarm","bot":"63846d71.c5b924","x":530,"y":1580,"wires":[[]]},{"id":"dc2f21a3.7c204","type":"mqtt in","z":"b47051ab.27b46","name":"","topic":"moisture/3","qos":"1","datatype":"auto","broker":"7a0587cf.b9e958","x":140,"y":1660,"wires":[["aedcac49.74221","82e797e0.a55f18"]]},{"id":"aedcac49.74221","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"a11519d1.35b5c8","order":5,"width":0,"height":0,"gtype":"wave","title":"Umidità terreno 3","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1660,"wires":[]},{"id":"82e797e0.a55f18","type":"function","z":"b47051ab.27b46","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1720,"wires":[["311665f.518629a"]]},{"id":"311665f.518629a","type":"telegram sender","z":"b47051ab.27b46","name":"Send alarm","bot":"63846d71.c5b924","x":530,"y":1720,"wires":[[]]},{"id":"788bcaa2.b0a194","type":"mqtt in","z":"b47051ab.27b46","name":"","topic":"moisture/4","qos":"1","datatype":"auto","broker":"7a0587cf.b9e958","x":140,"y":1800,"wires":[["fcd22f03.e9e8f","7836c5f9.668dcc"]]},{"id":"fcd22f03.e9e8f","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"a11519d1.35b5c8","order":7,"width":0,"height":0,"gtype":"wave","title":"Umidità terreno 4","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1800,"wires":[]},{"id":"7836c5f9.668dcc","type":"function","z":"b47051ab.27b46","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":1860,"wires":[["92c6aa2c.b13ec8"]]},{"id":"92c6aa2c.b13ec8","type":"telegram sender","z":"b47051ab.27b46","name":"Send alarm","bot":"63846d71.c5b924","x":530,"y":1860,"wires":[[]]},{"id":"700b4d36.86a424","type":"mqtt in","z":"b47051ab.27b46","name":"","topic":"moisture/5","qos":"1","datatype":"auto","broker":"7a0587cf.b9e958","x":140,"y":1940,"wires":[["ec3cf21d.f68c","c4475eb1.1d181"]]},{"id":"ec3cf21d.f68c","type":"ui_gauge","z":"b47051ab.27b46","name":"","group":"a11519d1.35b5c8","order":9,"width":0,"height":0,"gtype":"wave","title":"Umidità terreno 5","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1940,"wires":[]},{"id":"c4475eb1.1d181","type":"function","z":"b47051ab.27b46","name":"Moisture trigger","func":"var payload  = msg.payload;\nmsg.payload = {}\nmoisture=msg.payload.content \nmsg.payload.chatId = -1001429479181\nmsg.payload.type = 'message'\nmsg.payload.content = 'Umidità ' + payload + \"%\"\n\n//msg.payload = payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":2000,"wires":[["491d30c3.83f39"]]},{"id":"491d30c3.83f39","type":"telegram sender","z":"b47051ab.27b46","name":"Send alarm","bot":"63846d71.c5b924","x":530,"y":2000,"wires":[[]]},{"id":"ff038ff8.90f6f","type":"ui_button","z":"b47051ab.27b46","name":"pompa 1","group":"a11519d1.35b5c8","order":2,"width":0,"height":0,"passthru":false,"label":"annaffia","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"pump_activation","x":140,"y":2300,"wires":[["b257ce96.8e5b3"]]},{"id":"9ebdacb3.cf823","type":"ui_button","z":"b47051ab.27b46","name":"pompa 2","group":"a11519d1.35b5c8","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"pump_activation","x":140,"y":2360,"wires":[["b257ce96.8e5b3"]]},{"id":"161d151b.77fb7b","type":"ui_button","z":"b47051ab.27b46","name":"pompa 3","group":"a11519d1.35b5c8","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"pump_activation","x":140,"y":2420,"wires":[["b257ce96.8e5b3"]]},{"id":"556efd0a.0ac3c4","type":"ui_button","z":"b47051ab.27b46","name":"pompa 4","group":"a11519d1.35b5c8","order":8,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"pump_activation","x":140,"y":2480,"wires":[["b257ce96.8e5b3"]]},{"id":"d9d16e97.1eb57","type":"ui_button","z":"b47051ab.27b46","name":"pompa 5","group":"a11519d1.35b5c8","order":10,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"pump_activation","x":140,"y":2540,"wires":[["b257ce96.8e5b3"]]},{"id":"b257ce96.8e5b3","type":"mqtt out","z":"b47051ab.27b46","name":"","topic":"pump_activation","qos":"","retain":"","broker":"7a0587cf.b9e958","x":540,"y":2400,"wires":[]}]